{% extends 'base.html.twig' %}

{% block title %}
    {% if call_number %}
        Locate {{ title }} {{ call_number }} - Boston College Libraries
    {% else %}
        Highlight row {{ shelf_id }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <h3 class="header">{{ title }}</h3>
        <div class="holder">
            {% if call_number %}
                <p class="col-md-9">The item with call number
                    <span class="callno-map__call-number">{{ call_number }}</span>
                    is located in <span class="callno-map__library-name">{{ library_display }}</span>,
                    <span class="callno-map__library-location">{{ map_display }}</span>
                    on row <span class="callno-map__shelf-num">{{ shelf_display }}.</span>
                </p>
            {% elseif shelf_id %}
                <p class="col-md-9">Row with ID
                    <span class="callno-map__call-number">{{ shelf_id }}</span>
                    is highlighted in yellow.
                </p>
            {% endif %}
        </div>


        <div class="map-wrapper">
            <h2 class="col-md-12">
                {{ library_display }} {{ map_display }}
            </h2>
            <div class="map col-md-12 svg-container" id="map">{{ svg | raw }}</div>
        </div>

        <div class="callno-map__control-panel">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sms-modal">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                     class="bi bi-chat-right-text callno-map__sms-icon" viewBox="0 0 16 16">
                    <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                </svg>
                Send to email
            </button>
            <a href="https://library.bc.edu/feedback/" class="callno-map__feedback-link">Feedback</a>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="sms-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Text directions to my phone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="sms-form">
                    <div class="modal-body sms-form_modal_body">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <div class="sms-form__input-row">
                                <input type="hidden" name="title" value="{{ title }}"/>
                                <input type="hidden" name="call_number" value="{{ call_number }}"/>
                                <input type="hidden" name="library" value="{{ library_code }}"/>

                                <input type="tel" id="email" name="email" class="form-control sms-form__input" required>
                                <span class="sms-form__validity"></span>
                            </div>
                            <div class="sms-form__input-format">Please enter your email address.</div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
